
<div class="comment">
	<div class="comment_vote" id="comment_vote_<%= comment.id %>">
		<%= render :partial => 'comments/comment_vote', :locals => { :comment => comment } %>
	</div>
	<p>
		<%= comment.content %>
	</p>

	<p class="author">
	  <% if comment.user %>
	    <%= comment.user.name %>
	  <% else %>
            <%= comment.author %>
          <% end %>
	</p>
</div>
